<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CACHE_REDIS" value="true" />
    <add key="LogLevel" value="4"/>
    <add key="LogName" value="通过服务给APP推送消息"/>
    <add key="SleepMinute" value="1"/>
    <add key ="AndroidSenderAuthToken" value="AIzaSyB4rBLya_Q7jUCxbHwnE24oPi7xkbP0N9I"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
    
</configuration>